
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Riot&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a, footer a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

#hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
   font-family: g
   
}

#background {
    height: 725px;
}

nav a:hover, footer a:hover {
    background-color: black;
    color: aliceblue;
}

body {
    background-color: #e5e7ef;
    color: brown;
}

header, footer {
    background-color: #1e2952;
    color: black;
}

footer {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p a:hover {
    text-decoration: underline;
}
p{
    background-color: tan;
 
}