@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
body{ 
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    
}
#content {
    max-width: 1200px;
    margin: 0 auto;
}

/* this is targeting a class in html */
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(95, 152, 199);


}
.nav_link {
   
    padding:10px;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
}

img{
    width: 40%;
    display: block;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 5px;

}

nav a:hover {
    color:white;
    background-color: black;
}

#main_title{
    font-size: 4em;
    text-align: center;
    font-family: "Protest Riot", 'Arial', sans-serif;
}

 main p{
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 50px;
    background-color:rgb(95, 152, 199) ;
    border: 5px solid black;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
}

footer{
    background-color:rgb(95, 152, 199);
    padding: 10px;
    font-size: 2em;
    text-align: center;
}

footer a {
    color: black;
   }

   div{
    max-width: 1600px;
    margin: 0 auto;
}
