body{
    background-color: rgb(226, 229, 228);
}

/* this is targeting a class in html */
.nav_link {
    padding:10px;
    color: black;
    font-size: 1.3em;
}

img{
    width: 300px;
}
#main_title{
    font-size: 4em;
    
}
